@using PLC_Management.Models.ResultModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/the-datepicker/the-datepicker.css" />
<link rel="stylesheet" href="~/css/Light/Record.css" />

<div class="row">
    <div class="col-12" style="margin-top:20px; margin-bottom:20px;">
        <h1 class="h1-header">
            Lịch Sử Nạp Khí
        </h1>
    </div>

    @*    part1
    *@
    <div class="row shadow rounded bg-light p-2" style="margin-left:auto;margin-right:auto;">
        <div class="col-6 col-xl-7">
            <div style="margin-bottom:15px;">
                <select>
                    <option class="font_size_reponsive" value="find_by_day">Lọc theo ngày</option>
                </select>
            </div>

            <form class="search col-12" method="get">
                <div style="margin-bottom:15px;">
                    <input id="Oxy" name="Oxy" @ViewBag.checkOxy type="checkbox" />
                    <label style="font-size:18px;font-weight:600;" for="Oxy">Oxy</label>
                    <input id="Nitor" name="Nitor" @ViewBag.checkNitor type="checkbox" />
                    <label style="font-size:18px;font-weight:600;" for="Nitor">Nitor</label>

                </div>

                <div class="box_loc">
                    <span class="span_locngay" style="margin-right:40px;">
                        <label class="font_size_reponsive" style="font-weight:500;" for="tungay">Từ ngày: </label>

                        <input class="font_size_reponsive" id="tungay" name="tungay" value=@ViewBag.tungay style="width:115px;" type="text" />
                    </span>

                    <span class="span_locngay" style="margin-right:40px;">
                        <label class="font_size_reponsive" style="font-weight:500;" for="toingay">Tới ngày:</label>
                        <input class="font_size_reponsive" id="toingay" value=@ViewBag.toingay name="toingay" style="width:115px;" type="text" />
                    </span>


                    <button type="submit" style="padding-left:20px; padding-right:20px;" class="btn-primary btn btn_locngay span_locngay font_size_reponsive">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Lọc
                    </button>



                </div>
            </form>
        </div>


        @if (@HttpContextAccessor.HttpContext.Session.GetInt32(Common.SESSION_ISADMIN) == 1)
        {
            <div class="col-6 col-xl-5" style="display:flex; align-items:end; flex-direction:column; margin-top:35px; margin-bottom:15px;">
                <div style="display:flex; justify-content:end;">
                    <button id="btn_xoa_ban_ghi" type="button" class="btn btn-danger btn_xoa_css font_size_reponsive" data-toggle="modal" data-target="#DeleteDataCurrentPage">
                        Xóa dữ liệu trang hiện tại
                    </button>
                </div>

                <div id="xoa_tat_ca" style="margin-top:10px;display:flex; justify-content:end;">
                    <button data-toggle="modal" data-target="#DeleteAllData" name="btn_xoa_tat_ca" type="submit" class="btn btn-danger btn_xoa_css font_size_reponsive">
                        Xóa tất cả dữ liệu
                    </button>
                </div>
            </div>


        }
    </div>

    @*    part2
    *@
    <div class="col-12 shadow bg-white rounded" style="margin-top:10px; margin-bottom:10px;">
        <div class="p-2" style="display:flex; justify-content:space-between; align-content:center;">
            <form method="get">
                <input class="font_size_reponsive" id="numberResult" placeholder="@ViewBag.NUMBER_ELM_ON_PAGE hàng" style="text-align:center;width:90px; font-size:14px; height:36px;" name="numberResult" type="number" />
                <button type="submit" class="btn-primary btn font_size_reponsive">Thay đổi</button>
            </form>
            <div>
                <button class="btn-warning btn font_size_reponsive" id="btn-print" style="margin-right:10px;">In báo cáo</button>
                <button class="btn-primary btn font_size_reponsive" id="btn-export">Xuất file excel</button>
            </div>
        </div>
    </div>

    <div class="col-12 shadow p-3 mb-4 bg-white rounded">
        <div id="print_data">
            <!--Table-->
            <table class="table table-bordered" style="width:100%; text-align:center;" id="table">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Áp suất nạp</th>
                        <th>Thể tích nạp</th>
                        <th>Loại khí</th>
                        <th>Áp suất lấy mẫu</th>
                        <th>Lưu lượng lấy mẫu</th>
                        <th>Thời gian</th>
                        <th>Ngày</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->



                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (Result result in ViewBag.listResults)
                    {
                        DateTime dateTime = Convert.ToDateTime(result.CreateAt);
                        String s = dateTime.ToString("dd/MM/yyyy HH:mm:ss");
                        int j = i + 1;
                        if (i % 2 == 0)
                        {
                            <tr class="table-success ID_Result" data-id-result="@result.ID">
                                <th scope="row">@j</th>
                                <td>@result.ApSuatNap</td>
                                <td>@result.TheTichNap</td>
                                <td class="Parameter_ID">@result.LoaiKhi</td>
                                <td>@result.ApSuatLayMau</td>
                                <td>@result.LuuLuongLayMau</td>
                                <td>@result.ThoiGian</td>
                                <td>@s</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="ID_Result" data-id-result="@result.ID">
                                <th scope="row">@j</th>
                                <td>@result.ApSuatNap</td>
                                <td>@result.TheTichNap</td>
                                <td class="Parameter_ID">@result.LoaiKhi</td>
                                <td>@result.ApSuatLayMau</td>
                                <td>@result.LuuLuongLayMau</td>
                                <td>@result.ThoiGian</td>
                                <td>@s</td>
                            </tr>
                        }
                        i++;
                    }

                </tbody>
                <!--Table body-->





            </table>
        </div>
        <!--Table-->

    </div>
    <div class="col-12" style="display: flex; justify-content:space-between; margin-bottom:25px;">
        <div>
            <div>
                <nav aria-label="...">
                    <ul class="pagination">
                        @{
                            int page1 = ViewBag.pageCurrent - 2;
                            int page2 = ViewBag.pageCurrent - 1;
                            int page3 = ViewBag.pageCurrent;
                            int page4 = ViewBag.pageCurrent + 1;
                            int page5 = ViewBag.pageCurrent + 2;


                            string link1 = @ViewBag.host + page1;
                            string link2 = @ViewBag.host + page2;
                            string link3 = @ViewBag.host + page3;
                            string link4 = @ViewBag.host + page4;
                            string link5 = @ViewBag.host + page5;

                            string link_count_page = @ViewBag.host + @ViewBag.countPage;
                        }
                        @if ((@page3 - 2) > 0)
                        {
                            <li class="page-item "><a class="page-link font_size_reponsive" href="./@link1">@page1</a></li>
                        }
                        @if ((@page3 - 1) > 0)
                        {
                            <li class="page-item "><a class="page-link font_size_reponsive" href="./@link2">@page2</a></li>
                        }

                        <li class="page-item active "><a class="page-link font_size_reponsive" href="./@link3">@page3</a></li>

                        @if (@page3 < @ViewBag.countPage)
                        {
                            <li class="page-item "><a class="page-link font_size_reponsive" href="./@link4">@page4</a></li>
                        }

                        @if ((@page3 + 1) < @ViewBag.countPage)
                        {
                            <li class="page-item "><a class="page-link font_size_reponsive" href="./@link5">@page5</a></li>
                        }
                        @if ((@page3 + 2) < @ViewBag.countPage)
                        {
                            <li style="width:28px; display: flex; justify-content:center; font-size:19px; height:100%; margin-top:9px; color:#0d6efd ">. . .</li>
                            <li class="page-item "><a class="page-link font_size_reponsive" href="./@link_count_page">@ViewBag.countPage (hết)</a></li>
                        }

                    </ul>
                </nav>
            </div>




        </div>

        <div style="height:35px;">
            <input data-go-page="@ViewBag.countPage" class="font_size_reponsive" style="width:100px; height:100%; text-align:center" placeholder="Trang số ..." type="number" id="input_go_page" />
            <button data-go-page="@ViewBag.host" class="btn-primary btn font_size_reponsive" style="height:calc(100%+5px);" id="btn_go_page" type="button">Đi tới trang</button>
        </div>

    </div>

</div>






<!-- Modal xóa dữ liệu trang hiện tại  -->
<div class="modal fade" id="DeleteDataCurrentPage" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bạn có chắc muốn xóa dữ liệu ở trang hiện tại?</h5>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnDeleteDataCurrentPage" data-dismiss="modal" class="btn btn-danger">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal xóa toàn bộ dữ liệu -->
<div class="modal fade" id="DeleteAllData" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="post" asp-controller="Result" asp-action="DeleteAllResults" class="modal-content bg-danger" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" style="color:#fff" id="exampleModalLongTitle">Bạn có chắc chắn muốn xóa tất cả dữ liệu?</h5>
            </div>

            <div class="modal-footer">
                <button type="submit" id="btnDeleteAllData" class="btn btn-secondary">Có</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
            </div>
        </form>
    </div>
</div>



<script src="./js/table2excel.js"></script>
<script>
    const table2excel = new Table2Excel();
    document.querySelector("#btn-export").addEventListener("click", () => {
        table2excel.export(document.querySelector("#table"));
    })
</script>

@section Scripts{

    <script src="~/lib/the-datepicker/the-datepicker.js"></script>
    <script src="~/js/PrintResult.js"></script>
    <script src="~/js/Pagination.js"></script>
    <script src="~/js/DeleteResult.js"></script>
    <script src="~/js/FormatDate.js"></script>
}
