@using PLC_Management.Models.EmployeeModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout";
}
@{
    int? IDMain = @HttpContextAccessor.HttpContext.Session.GetInt32(Common.SESSION_USER_LOGIN);
}

<link rel="stylesheet" href="~/css/Light/Employee.css" />
<div class="row ">
    <div class="col-12" style="margin-top:20px; margin-bottom:20px;">
        <h1 class="h1-header">
            Tài Khoản Thành Viên
        </h1>
    </div>
    <div class="col-12 shadow p-3 mb-4 bg-white rounded">
        <!--Table-->
        <table class="table table-striped table-sm " id="table">
            <!--Table head-->
            <thead>
                <tr>
                    <th>Mã NV</th>
                    <th>Họ Và Tên</th>
                    <th>Tài Khoản</th>
                    <th>Mật Khẩu</th>
                    <th>Phòng Ban</th>
                    <th>Quyền Quản Trị</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->


            <tbody>
                @foreach (Employee employee in ViewBag.employees)
                {
                    <tr data-id=@employee.ID class="table-secondary tb_elm">
                        <td scope="row">@employee.ID</td>
                        <td>@employee.FullName</td>
                        <td class="elm_unique">@employee.Username</td>
                        <td>@employee.Password</td>
                        <td>@employee.Department</td>
                        <td>
                            @{
                                string isAdmin = "";
                                if (employee.IsAdmin == true)
                                {
                                    isAdmin = "Có";
                                }
                                else
                                {
                                    isAdmin = "Không";
                                }
                            }
                            @isAdmin
                        </td>

                        <th class="box_option">
                            <button type="button" data-id-main=@IDMain data-id="@employee.ID" class="btn btn_update btn-primary" data-toggle="modal" data-target="#exampleModalCenterUpdate">
                                Sửa
                            </button>
                        </th>
                        <th>
                            @if (IDMain != employee.ID)
                            {
                                @*    <form asp-action="DeleteEmployee" class="form_xoa" asp-route-id="@employee.ID" method="post">
                        <button type="submit" class="btn btn-danger btn_xoa">Xóa</button>
                        </form>*@

                                <div class="form_xoa">
                                    <button type="button" data-id="@employee.ID" class="btn btn-danger btn_xoa" data-toggle="modal" data-target="#exampleModalCenterDelete">Xóa</button>
                                </div>
                            }
                        </th>
                    </tr>
                }
            </tbody>




            <!--Table body-->

        </table>


    </div>
</div>
<!-- Button trigger modal Thêm -->
<div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
        Thêm tài khoản
    </button>
</div>








<!-- Modal Thêm -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form asp-controller="Employee" asp-action="InsertEmployee" method="post" class="modal-content" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thêm thành viên</h5>
            </div>
            <div class="modal-body">
                <div class="item_modal">
                    <label for="fullname">Họ và Tên</label>
                    <input name="fullname" required id="fullname" autocomplete="off" type="text">
                </div>
                <div class="item_modal">
                    <label for="username">Tài khoản</label>
                    <input name="username" required id="username" autocomplete="off" type="text">
                </div>
                <div class="item_modal">
                    <label for="password">Mật khẩu</label>
                    <input name="password" required id="password" autocomplete="off" type="text">
                </div>
                <div class="item_modal">
                    <label for="department">Phòng ban</label>
                    <input name="department" required id="department" autocomplete="off" type="text">
                </div>
                <div class="item_modal">
                    <label for="isAdmin">Quyền Admin</label>
                    <div class="grRadio">
                        <input class="isAdmin" type="radio" value="1" name="isAdmin"> Có
                        <input style="margin-left: 30px;" class="isAdmin" type="radio" checked value="0" name="isAdmin"> Không
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnInsert" class="btn btn-success">Thêm thành viên</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </form>
    </div>
</div>





<!-- Modal Sửa -->
<div class="modal fade" id="exampleModalCenterUpdate" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form asp-controller="Employee" asp-action="UpdateEmployee" method="post" id="formUpdate" class="modal-content" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sửa thông tin tài khoản</h5>
            </div>
            <div class="modal-body">
                <div class="item_modal">
                    <label for="fullname">Họ và Tên</label>
                    <input name="fullname" required id="fullnameUpdate" autocomplete="off" type="text">
                </div>
                <div class="item_modal">
                    <label for="username">Tài khoản</label>
                    <input name="username" required id="usernameUpdate" autocomplete="off" type="text">
                </div>
                <div class="item_modal">
                    <label for="password">Mật khẩu</label>
                    <input name="password" required id="passwordUpdate" autocomplete="off" type="text">
                </div>
                <div class="item_modal">
                    <label for="department">Phòng ban</label>
                    <input name="department" required id="departmentUpdate" autocomplete="off" type="text">
                </div>
                <div class="item_modal">
                    <label for="isAdmin">Quyền Admin</label>
                    <div class="grRadio">
                        <input id="isAdminUpdateTrue" class="isAdmin" type="radio" value="1" name="isAdmin"> Có
                        <input id="isAdminUpdateFalse" style="margin-left: 30px;" class="isAdmin" type="radio" checked value="0" name="isAdmin"> Không
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary" data-dismiss="modal">Lưu lại</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </form>
    </div>
</div>




<!-- Modal Xoa -->
<div class="modal fade" id="exampleModalCenterDelete" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form asp-action="DeleteEmployee" class="modal-content" id="form_delete" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bạn có chắc chắn muốn xóa tài khoản này?</h5>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnDeleteSubmit" data-dismiss="modal" class="btn btn-danger">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script src="~/js/Employee.js"></script>
}