@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap_min.css" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <link rel="stylesheet" href="~/css/SideNav.css" />
    <link rel="stylesheet" href="~/css/Navbar.css" />
    <link rel="stylesheet" href="~/css/Toast.css" />
    <link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon">
    <title>LeanWay</title>
</head>

<body>



    @*    SIDENAV
    *@
    <div class="sidenav showAnimation-Sidenav" id="sidenav">
        <div class="menu_sidenav">

            <div class="head_menu_sidenav">
                <a href="">
                    <img src="~/img/logo.png" width="60" height="60" />
                    <h2 id="header_name">LeanWay</h2>
                </a>
            </div>
            <div class="body_menu">
                <a class="item_menu" href="/dashboard">
                    <i class="fa-solid fa-screwdriver-wrench" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                    Theo dõi và cài đặt
                </a>
                <a class="item_menu" href="/result">
                    <i class="fa-solid fa-clock-rotate-left" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                    Lịch sử nạp khí
                </a>
                <a class="item_menu" href="/activity">
                    <i class="fa-solid fa-list-check" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                    Hoạt động
                </a>
                <a class="item_menu" href="/chart">
                    <i class="fa-solid fa-chart-line" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                    Thống kê
                </a>
                @if (@HttpContextAccessor.HttpContext.Session.GetInt32(Common.SESSION_ISADMIN) == 1)
                {
                    <a class="item_menu" href="/employee">
                        <i class="fa-solid fa-user-group " style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                        Nhân viên
                    </a>
                }
                <div class="item_menu" id="sidebar-option">
                    <i class="fa-solid fa-gear" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                    Tùy chọn
                    <div class="menu-option-sidenav shadow-sm">
                        <div class="item-menu-options-sidenav " id="swapToMenuNgang">Menu ngang</div>
                        <div class="item-menu-options-sidenav ">Chế độ tối</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="user">
            <div class="user_info">
                <span class="name_user">@HttpContextAccessor.HttpContext.Session.GetString(Common.SESSION_USER_FULLNAME)</span>
            </div>

            <a type="button" class="btn btn_logout btn-danger" href="/login/logout">
                Đăng xuất
            </a>
        </div>
    </div>








    <!-- header top -->
    <header id="MenuNgang">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow rounded" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-toggler"
                   href="#" role="button"
                   data-mdb-toggle="collapse"
                   aria-expanded="false"
                   id="dropdownMenuLink" data-bs-toggle="dropdown"
                   aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item link_header" data-link-name="dashboard" href="/dashboard">Theo dõi và cài đặt</a></li>
                    <li><a class="dropdown-item link_header" data-link-name="result" href="/result">Lịch sử nạp khí</a></li>
                    <li><a class="dropdown-item link_header" data-link-name="activity" href="/activity">Hoạt động</a></li>
                    <li><a class="dropdown-item link_header" data-link-name="chart" href="/chart">Thống kê</a></li>
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32(Common.SESSION_ISADMIN) == 1)
                    {
                        <li><a class="dropdown-item link_header" data-link-name="employee" href="/employee">Nhân viên</a></li>
                    }
                    <li>
                        <button class="dropdown-item" id="btn-option">
                            Tùy chọn
                            <div class="menu-options shadow-sm">
                                <div class="item-menu-options swapToMenuDoc">Menu dọc</div>
                                <div class="item-menu-options">Chế độ tối</div>
                            </div>
                        </button>
                    </li>
                    <li><a class="dropdown-item" href="/login/logout">Đăng xuất</a></li>
                </ul>



                <div class="collapse navbar-collapse" style="flex-grow:unset;" id="navbar1">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link link_header" data-link-name="dashboard" href="/dashboard">Theo dõi và cài đặt</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link link_header" data-link-name="result" href="/result">Lịch sử nạp khí</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link link_header" data-link-name="activity" href="/activity">Hoạt động</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link link_header" data-link-name="chart" href="/chart">Thống kê</a>
                        </li>
                        @if (@HttpContextAccessor.HttpContext.Session.GetInt32(Common.SESSION_ISADMIN) == 1)
                        {
                            <li class="nav-item">
                                <a style="font-size:18px;" class="nav-link link_header" data-link-name="employee" href="/employee">Nhân viên</a>
                            </li>
                        }
                    </ul>
                </div>

                <a style="display:flex;" href="">
                    <img src="~/img/logo.png" height="60" />
                </a>


                <div class="collapse navbar-collapse" style="flex-grow:unset;" id="navbar2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width:100%;display:flex;justify-content:end;flex-wrap:nowrap;">
                        <li class="nav-item">
                            <span style="font-size:18px;" class="nav-link swapToMenuDoc">Menu dọc</span>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link" href="">Chế độ tối</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:18px;" class="nav-link" href="/login/logout">Đăng xuất</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        <!-- Jumbotron -->
        <div style="margin-top: 78px;">
        </div>
        <!-- Jumbotron -->
    </header>














    @*    TOAST
    *@
    <div class="toast-container" id="toast_container">

        <div style="display:none;" id="toast_success" class="toast toast-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fa-solid fa-circle-check"></i>
                <strong class="me-auto">NULL</strong>
                <button type="button" class="btn-close btn_toast_close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Dev by 941
            </div>
        </div>

        <div style="display:none;" id="toast_danger" class="toast toast-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fa-solid fa-circle-exclamation"></i>
                <strong class="me-auto">NULL</strong>
                <button type="button" class="btn-close btn_toast_close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Dev by 941
            </div>
        </div>
    </div>





    <div class="container">
        @RenderBody()
    </div>


    <script src="~/lib/jquery3_2_1.js"></script>
    <script src="~/lib/popper.js"></script>
    <script src="~/lib/bootstrap_min.js"></script>
    <script src="~/lib/bootstrap_bundle_min.js"></script>
    <script src="~/js/Toast.js"></script>
    <script src="~/js/LayoutOption.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>





